:root {
    --clr-primary-300: hsl(215, 51%, 70%);
    --clr-primary-500: hsl(178, 100%, 50%);

    --clr-neutral-900: hsl(217, 54%, 11%);
    --clr-neutral-800: hsl(216, 50%, 16%);
    --clr-neutral-700: hsl(215, 32%, 27%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --fw-light: 300;
    --fw-regular:400;
    --fw-bold: 600;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

body {
    font-family: "Outfit";
    background-color: var(--clr-neutral-900);
    color: var(--clr-primary-300);
    font-size: 18px;
    font-weight: var(--fw-regular);

    margin: 0rem 1.5rem;
    display: grid;
    place-content: center;
}

main {
    padding: 1.5rem;
    display: grid;
    gap: .8rem;
    background-color: var(--clr-neutral-800);
    border-radius: 3% / 2%;
    max-width: 327px;
    box-shadow: 7px 7px 10px 15px hsl(217, 54%, 9%);
}

.image-container {
    position: relative;
    width: 100%;
    background-color: hsla(178, 100%, 50%, .8);
    border-radius: 3%;
}

.image-container:hover .eth-img {
    opacity: 0.3;
}

.eth-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    border-radius: 3%;
    transition: .5s ease;
}

.image-container:hover .icon-container {
    opacity: 1;
}

.icon-container {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
}

h1 {
    font-weight: var(--fw-bold);
    font-size: 1.35rem;
    color: var(--clr-neutral-100);
}

h1:hover {
    color: var(--clr-primary-500);
    cursor: pointer;
}

p {
    font-size: .95rem;
    font-weight: var(--fw-light);
}

.content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eth {
    font-weight: var(--fw-bold);
    color: var(--clr-primary-500);
}

.eth::before {
    content: url(./images/icon-ethereum.svg);
    display: inline-block;
    padding-right: .3rem;
    position: relative;
    top: .3rem;
}

.days-left {
    font-weight: var(--fw-regular);
}

.days-left::before {
    content: url(./images/icon-clock.svg);
    display: inline-block;
    padding-right: .3rem;
    position: relative;
    top: .2rem;
}

hr {
    color: var(--clr-neutral-700);
}

.creator-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.creator-flex img {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--clr-neutral-100);
    border-radius: 50%;
}

.creator-flex p {
    font-size: .9rem;
    font-weight: var(--fw-regular);
}

.creator-flex .name {
    color: var(--clr-neutral-100);
}

.creator-flex .name:hover {
    color: var(--clr-primary-500);
    cursor: pointer;
}
